*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'SFDisplayRegular';
    src: local('SFDisplayRegular'), 
    url('../fonts/SFProDisplayRegular.woff');
}

@font-face {
    font-family: 'SFDisplayBold';
    src: local('SFDisplayBold'), 
    url('../fonts/SFDisplayBold.woff');
}

body{
    font-family: 'SFDisplayRegular', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #F5F5F5;
}

/* HEADER */

.header{
    padding-top: 6px;
    padding-bottom: 6px;
    background: #0050B3;
}

.header-block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input{
    width: 336px;
    
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 5px 30px 5px 12px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position:  right 12px center;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}

.navigation{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
}

.user-avatar{
    margin-right: 8px;
}

.user-name{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.navigation-panel{
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-right: 12px;
}

.navigation-link:last-child::after{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-left: 12px;
}

.icons-panel{
    display: flex;
    align-items: center;
}

.icon-link{
    margin-left: 17px;
    display: flex;
    align-items: center;
}

.icon-link:last-child::before{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-right: 12px;
}

.header-icon{
    fill: #002766;
}

.header-icon:hover{
    fill: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.menu-sidebar{
    max-width: 192px;
    margin-top: 18px;
    margin-right: 12px;
}

.menu-sidebar .user{
    padding-left: 10px;
}

.menu-sidebar .user-avatar{
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name{
    color: #262626;
    font-size: 14px;
    line-height: 22px;
}

.nav-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.nav-link.active{
    background: #FFFFFF;
    color: #262626;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
}

.nav-text{
    margin-left: 8px;
}

.nav-title{
    color: #262626;
    font-size: 12px;
    line-height: 20px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 4px;
    margin-top: 0;
}

.nav-link-more{
    display: flex;
    align-items: center;
    margin-top: 12px;
    text-decoration: none;
}

.nav-text-more{
    color: #1890FF;
    font-size: 14px;
    line-height: 22px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    margin-left: 12px;
}

.main-feed{
    max-width: 588px;
    flex-grow: 1;
    margin-top: 18px;
}

.create-post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
}

.create-post-header{
    background: #F5F5F5;
    padding: 9px 16px;
}

.create-post-title{
    margin: 0;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.create-post-body{
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: flex-start;
}

.create-post-input{
    padding-top: 8px;
    width: 95%;
}

.create-post-footer{
    display: flex;
    align-items: center;
    padding: 16px;
    flex-wrap: wrap;
    padding-top: 0;
}

.create-post-footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.tag{
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.tag-icon{
    margin-right: 8px;
}