*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'SFDisplayRegular';
    src: local('SFDisplayRegular'), 
    url('../fonts/SFProDisplayRegular.woff');
}

@font-face {
    font-family: 'SFDisplayBold';
    src: local('SFDisplayBold'), 
    url('../fonts/SFDisplayBold.woff');
}

body{
    font-family: 'SFDisplayRegular', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #F5F5F5;
    padding-top: 46px;
}

/* HEADER */

.header{
    padding-top: 6px;
    padding-bottom: 6px;
    background: #0050B3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header-block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-menu{
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.m-menu .line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-left: 12px;
}

.search-input{
    width: 336px;
    
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 5px 30px 5px 12px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position:  right 12px center;
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
}

.navigation{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
}

.user-avatar{
    margin-right: 8px;
}

.user-name{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.navigation-panel{
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-right: 12px;
}

.navigation-link:last-child::after{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-left: 12px;
}

.icons-panel{
    display: flex;
    align-items: center;
}

.icon-link{
    margin-left: 17px;
    display: flex;
    align-items: center;
}

.icon-link:last-child::before{
    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    background: #003A8C;
    margin-right: 12px;
}

.header-icon{
    fill: #002766;
}

.header-icon:hover{
    fill: white;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-sidebar{
    width: 192px;
    margin-top: 18px;
    margin-right: 12px;
}

.menu-sidebar .user{
    padding-left: 10px;
}

.menu-sidebar .user-avatar{
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name{
    color: #262626;
    font-size: 14px;
    line-height: 22px;
}

.nav-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.nav-link.active{
    background: #FFFFFF;
    color: #262626;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
}

.nav-text{
    margin-left: 8px;
}

.nav-title{
    color: #262626;
    font-size: 12px;
    line-height: 20px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 4px;
    margin-top: 0;
}

.nav-link-more{
    display: flex;
    align-items: center;
    margin-top: 12px;
    text-decoration: none;
}

.nav-text-more{
    color: #1890FF;
    font-size: 14px;
    line-height: 22px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    margin-left: 12px;
}

.main-feed{
    max-width: 588px;
    flex-grow: 1;
    margin-top: 18px;
}

.create-post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
}

.create-post-header{
    background: #F5F5F5;
    padding: 9px 16px;
}

.create-post-title{
    margin: 0;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.create-post-body{
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: flex-start;
}

.create-post-input{
    padding-top: 8px;
    width: 95%;
}

.create-post-footer{
    display: flex;
    align-items: center;
    padding: 16px;
    flex-wrap: wrap;
    padding-top: 0;
}

.create-post-footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.tag{
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.tag-icon{
    margin-right: 8px;
}

.dots-icon{
    margin-right: 0;
}

.post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.post-header-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.post-header .user-avatar{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.post-info{
    display: flex;
    flex-wrap: wrap;
}

.post-author{
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}

.post-time{
    color: #8C8C8C;
    font-size: 14px;
    line-height: 22px;
}

.post-time::after{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #BFBFBF;;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;
}

.post-info-time{
    display: flex;
    align-items: center;
}

.post-text{
    font-size: 14px;
    color: #595959;
    line-height: 22px;
}
.post-text a{
    color: #096dd9;
    text-decoration: none;
    margin-bottom: 16px;
}

.post-image{
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    max-width: 100%;
}

.likes{
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}

.likes-counter{
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 4px;
}

.post-footer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.post-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.post-button-text{
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}

.post-button-icon{
    fill: #595959;
}

.post-footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.right-sidebar{
    width: 384px;
}

.stories{
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}

.stories-icon{
    fill: #0050B3;
}

.stories-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}



.stories-title{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    color: #262626;
}

.stories-button{
    display: flex;
    align-items: center;
}

.story-button-link{
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}

.story-button-link:first-child::after{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #BFBFBF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.stories-icon{
    vertical-align: sub;
}


.story-item-add, .story-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}

.story-image{
    width: 48px;
    height: 48px;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    flex-shrink: 0;
    border-radius: 50%;
    color: #1890FF;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    font-family: 'SFDisplayBold', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
}

.story-title{
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    font-weight: 600;
    font-family: 'SFDisplayBold', sans-serif;
    width: 100%;
}

.story-text{
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    width: 100%;
    word-wrap: break-word;
}

.story-image{
    border-radius: 50%;
}

.stories .nav-link-more{
    margin-top: 16px;
}

.story-new{
    border: 4px solid #1890FF;
    border-radius: 50%;
}

.birthday{
    margin-left: 24px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 16px;
}

.birthday-info{
    display: flex;
    align-items: center;
}

.birthday-image{
    margin-right: 8px;
}

.birthday-text{
    font-size: 14px;
    line-height: 22px;
}

.birthday-name{
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    color: #0050B3;
    text-decoration: none;
}

.funpage{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 24px;
}

.funpage-header{
    border-bottom: 1px solid #D9D9D9;
}

.funpage-header-info{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 9px;
}

.funpage-header-title{
    font-size: 14px;
    line-height: 22px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    color: #595959;
}


.funpage-content{
    padding: 16px;
}

.funpage-stats{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 23px;
    margin-bottom: 16px;
}

.stats-image{
    flex-grow: 0;
    margin-right: 12px;
    border-radius: 50%;
}

.stats-name{
    margin: 0;
    color: #0050B3;
    font-size: 14px;
    line-height: 22px;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.funpage-stats-group{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    text-decoration: none;
}

.funpage-stats-icon{
    margin-right: 4px;
}

.funpage-stats-text{
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    margin-right: 6px;
}

.stats-counter{
    display: block;
    color: #595959;
    font-size: 12px;
    line-height: 20px;
    background: #F5F5F5;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 5px 8px;
}

.funpage-buttons{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.funpage-button{
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid  #D9D9D9;
    flex-basis: 33%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.funpage-button.active{
    border: 1px solid #1890FF;
    color: #1890FF;
}

.funpage-button:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.funpage-button:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.funpage-likes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funpage-likes-counter{
    font-size: 24px;
    line-height: 32px;
    color: #262626;
    font-family: 'SFDisplayBold', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.funpage-likes-text{
    margin: 0;
    color: #8C8C8C;
    font-size: 14px;
    line-height: 22px;
}

@media(max-width: 1250px){
    .container{
        justify-content: flex-start;
    }
    .right-sidebar{
        display: none;
    }
    .header-block{
        width: 95%;
    }
    .container{
        width: 95%;
    }
}

@media(max-width: 960px){
    .header .user{
        display: none;
    }
    .navigation-panel{
        display: none;
    }
}

@media(max-width: 840px){
    .menu-sidebar{
        position: fixed;
        left: 0;
        top: 25px;
        width: 100%;
        max-width: 250px;
        padding-top: 12px;
        height: 100%;
        padding: 12px;
        background-color: #f1f1f1;
        padding-left: 2%;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .menu-sidebar.active{
        transform: translateX(0%);
    }
    .m-menu{
        display: flex;
    }
}

@media (max-width: 760px){
    .search{
        display: none;
    }
}